body {
    background-image: url(background.jpeg);
        background-size: cover;
   background-repeat: no-repeat;
    
}

.cardImage, newCardImage {
  background-size: 40px 25px;
    border: 3px solid black;
}


.newwrapper{
    max-height: 80%;
    max-width:80%;
    margin:auto;
    background-color: lightblue; 
         
}

.current{
    
        background-color: blue; 

    
}


.player-0,
.player-1 {
    width: 100%;
    height: 15vw;
    padding:2vw;
    border: 3px solid white;
    margin:auto;
    
}

.name {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    display:inline;
    font-family: 'Russo One', sans-serif;

}

.this-hand {
        font-size: 60px;
    text-align: center;
    display:inline;

}

.score {
    text-align: center;
    font-size: 80px;
    margin-bottom: 130px;
    margin-left: 30px;
    margin-right: 30px;
    display:inline;
    font-family: 'Russo One', sans-serif;


}